

@keyframes trander {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.home {
    max-width: 100wh;
    margin: 0 30px;
    background-color: antiquewhite;
}

.Slider {
    max-width: 1500px;
    padding: 65px 0 30px 0;

    .banner__tet {
        height: 400px;
        background-image: url('../../img/hinh-nen-vu-tru-khong-gian-lung-linh.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        display: flex;
    }

    .icon__carousel {
        width: 70%;
        height: 400px;
        margin: auto;
    }

    .slide {
        height: 400px;
    }

    .img__70 {
        height: 300px;
        margin: auto;
        display: block;
        padding-top: 30px;
    }
}

.Product_tabs {
    margin-top: 20px;

    .Product_tabs_header {
        display: flex;
        justify-content: center;
        font-weight: 600px;
    }

    .Product_tabs_item {
        width: 25%;
        margin: 0 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Product_tabs_item_Img {
        height: 150px;
    }

    .Product_tabs_lists {
        display: flex;
        justify-content: space-between;
    }
}

.product__container {
    height: 300px;
    margin: 0;
    display: flex;
    justify-content: space-around;

    .product__item {
        width: 30%;
        height: 100%;
        position: relative;

        &:hover .product__item__button {
            display: block;
            animation: trander ease 0.5s;
        }
    }

    .product__item__img {
        height: 100%;
        width: 100%;
    }

    .product__item__button {
        position: absolute;
        top: 80%;
        right: 50%;
        transform: translate(50%, 50%);
        margin-bottom: 10px;
        display: none;
    }
}

.LearnningHoaXoan {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    height: 350px;

    h1 {
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 2px solid #333;
        margin-bottom: 20px;
    }

    .slide {
        display: flex;
        justify-content: space-around;
        height: 300px;
        background-color: antiquewhite;

        div {
            display: flex;
            flex-direction: column;
            width: 15%;

            .slideImg {
                height: 200px;
                width: 100%;
            }

            .slideimageHover {
                display: none;
            }

            &:hover .slideimageHover {
                display: block;
                font-size: 12px;
                animation: abc ease 0.5s;
            }

            @keyframes abc {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }
    }

    .slide span {
        border-radius: 5px;
        font-size: 20px;
        color: tomato;
        // background: rgba(141, 174, 224, 0.5);
        text-align: center;
    }

    .slide p {
        // border-radius: 5px;
        font-size: 20px;
        // color: white;
        // background: rgba(141, 174, 224, 0.5);
        text-align: center;
    }

}

