.header {
    padding: 10px 20px 30px 30px;
    border-bottom: 1px solid;
}

.btn_add {
    width: 90%;
    padding-left: 30px;
    margin-top: 20px;
}

.modal {
    /* padding: 10px; */
    display: block;
}

.nameModal {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.input_Full {
    width: 90%;
    /* background-color: aqua; */
    margin: 0 20px;
}

.label_title {
    text-align: left;
}

.label_paddingLeft_20px {
    padding-left: 20px;
}

.label_title_2 {
    text-align: left;
    width: 200px;

}

.width_button {
    width: 150px;
    margin-bottom: 10px;
}

.width_add {
    width: 300px;
}

.input_error {
    margin: 0 !important;
}

.button_margin_top {
    margin: 10px auto;
    display: flex;
}

.errorPassWord_margin {
    display: flex;
    margin: auto;
}

.gender__block {
    display: flex;
}

.select_gender {
    width: 65px;
    padding: 0;
}

.select_gender__block {
    margin-left: 5px;
}



.chamcong_con {
    display: flex;
    width: 90%;
    margin: auto;
}

.task {
    height: 30px;
    margin: 30px auto;
}

.header_task {
    padding: 20px;
    width: 90%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}

.button_task {
    width: 90%;
    margin: auto;
}
.table thead th:nth-child(1) {
    width: 0;
}
.whiteColor{
    color: aliceblue;
 
   
}
.whiteColor:hover{
    color: aliceblue;
}
.button_list{
    margin-right: 10px;
    
}
.span1{
    font-size: 1rem;
    background-color: #0d6efd;
    padding: 6px 12px;
    color: aliceblue;
    border-radius: 2px;

}
.span1:hover{
    color: aliceblue;
}

