$colorblue: #0d6efd;
$colorbutton:#C30005;
$colorindigo: #6610f2;
$colorpurple: #6f42c1;
$colorpink: #d63384;
$colorred: #dc3545;
$colororange: #fd7e14;
$coloryellow: #ffc107;
$colorgreen: #198754;
$colorteal: #20c997;
$colorfacebook: #3a589d;
$colorinstagram: #3b6994;
$colortwitter: #2478ba;
$colorpinterest: #cb2320;
$colortooltip: #fc7600;
$colorcyan: #0dcaf0;
$colorprimary: #0d6efd;
$colorsecondary: #6c757d;
$colorsuccess: #198754;
$colorinfo: #0dcaf0;
$colorwarning: #ffc107;
$colordanger: #dc3545;
$colorlight: #f8f9fa;
$colordark: #212529;
$colorprimary-rgb: rgb(13, 110, 253);
$colorsecondary-rgb: rgb(108, 117, 125);
$colorsuccess-rgb: rgb(25, 135, 84);
$colorinfo-rgb: rgb(13, 202, 240);
$colorwarning-rgb: rgb(255, 193, 7);
$colordanger-rgb: rgb(220, 53, 69);
$colorlight-rgb: rgb(248, 249, 250);
$colordark-rgb: rgb(33, 37, 41);
$colorNav: #dcdcdc;
$colorHeader: #020202;
$colorBlack: black;
$colorwhite: #fff;
$colorgray: #6c757d;
$colorgray-dark: #343a40;
$colorgray-100: #f8f9fa;
$colorgray-200: #e9ecef;
$colorgray-300: #dee2e6;
$colorgray-400: #ced4da;
$colorgray-500: #adb5bd;
$colorgray-600: #6c757d;
$colorgray-700: #495057;
$colorgray-800: #343a40;
$colorgray-900: #212529;
$colorwhite-rgb: rgb(255, 255, 255);
$colorblack-rgb: rgb(0, 0, 0);
$colorbody-color-rgb: rgb(33, 37, 41);
$colorbody-bg-rgb: rgb(255, 255, 255);
